@use '../../styles/variables' as *;
@use '../../styles/fonts' as *;

.section-footer {
    background-color: $ForestGreen;
    width: 100%;
    color: $OffWhite;
    position: fixed;
    bottom: 0; 
    padding-top: 1rem;

    &__quote {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__author {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
    }
}