@use '../../styles/variables' as *;

.section-footer {
    background-color: #374f2f;
    height: 11rem;
    width: 100%;
    color: #f8f8f8;
    position: fixed;
    bottom: 0; 

    &__quote {
        display: flex;
        justify-content: center;
        padding-top: 3rem;
        padding-left: 1rem;
    }

    &__author {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
    }
}