@use '../../styles/variables' as *;
@use '../../styles/fonts' as *;

.section-header {
    height: 8rem;
    width: 100%;
    background-color: $ForestGreen;
    color: $OffWhite;

    &__title {
        color: $OffWhite;
        margin-top: 0;
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        font-size: 2rem;
    }
}