@use '../../styles/variables' as *;
@use '../../styles/fonts' as *;

.item-list {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    &__box {
        width: 45%;
        border: 1px solid $GreyBorderColor;
        padding: 10px;

        li.shaded {
            background-color: $DarkGrey; 
            pointer-events: none; 
        }

    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        margin: 10px;
        padding: 5px 10px;
        font-size: 16px;
        cursor: pointer;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        background-color: $LightGrey;
        margin: 5px 0;
        padding: 10px;
        border: 1px solid $GreyBorderColor;
        cursor: pointer;
    }

    .selected {
        background-color: $MediumGrey;
    }

    &__invite {
        color: $OffWhite;
        background-color: $ForestGreen;
        font-weight: 600;
    }
}
